.main {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}
.main__car-info-table {
    width: 100%;
    border: 1px solid rgb(170, 169, 169);
    border-collapse: collapse;
}

.main__car-info-table td {
    padding: 0.3em;
    border-bottom: 1px solid rgb(170, 169, 169);
}

.main__loading-spinner {
    margin: auto;
    text-align: center;
}
